.container {
  position: relative;
  z-index: 1;
}

.btn {
  font-family: var(--dashing);
  text-align: center;
  font-size: 1.8rem;
  white-space: nowrap;
  text-transform: uppercase;
  user-select: none;
  transition: all 0.1s ease-in;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-radius: 50px;
  padding: 9px 30px;
  position: relative;
  z-index: 1;
  width: 100%;
  line-height: 147%;
}

.primary {
  color: var(--green2);
  background-color: var(--blue);
  border: 1px solid var(--blue);
}

.primary:hover,
.navBtn:hover {
  background-color: var(--tan);
  color: var(--blue);
}

.secondary {
  color: var(--green2);
  border: 1px solid var(--green2);
}

.secondary:hover,
.navBtnii:hover {
  background-color: var(--green2);
  color: var(--black);
}

.tertiary {
  color: var(--black);
  background-color: var(--green2);
  border: 1px solid var(--black);
}

.tertiary:hover {
  background-color: var(--green);
  color: var(--green2);
  border: 1px solid var(--green);
}

.navBtn {
  background-color: var(--tan);
  border: 1px solid var(--blue);
  color: var(--blue);
  padding: 5px 25px;
  padding-top: 8px;
}

.navBtn:hover {
  background-color: var(--green2);
}

.navBtnii {
  background-color: var(--green);
  border: 1px solid var(--green2);
  color: var(--tan);
  padding: 5px 25px;
}

.learnMore {
  border: 1px solid var(--black);
  border-radius: 0px;
  border-top: none;
  padding: 2rem 5rem;
}

.github {
  border: 1px solid var(--black);
  border-radius: 0px;
  border-bottom: none;
  padding: 2rem 5rem;
}

.icon {
  color: var(--green2);
  width: 27px;
  height: 27px;
  transition: all 0.1s ease-in;
}

.tan {
  color: var(--tan);
}

.blue {
  color: var(--blue);
}

.primary:hover .icon {
  color: var(--blue);
}

.navBtn:hover .tan {
  color: var(--blue);
}

@media screen and (max-width: 568px) {
  .btn {
    font-size: 2rem;
  }
}
