.b2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10rem;
}

.imgContainer {
  position: relative;
  width: 300px;
  height: 300px;
  z-index: 1;
}

.imgContainer::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 375px;
  height: 375px;
  border-radius: 50%;
  border: 1px solid var(--blue);
  z-index: -1;
}

.imgContainer::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 330px;
  height: 330px;
  border-radius: 50%;
  border: 1px solid var(--green);
  z-index: -1;
}

.img {
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--green2);
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  border-radius: 50%;
  border: 3px solid var(--green2);
  color: var(--tan);
  font-size: 2rem;
}

@media screen and (max-width: 480px) {
  .imgContainer {
    width: 250px;
    height: 250px;
  }

  .imgContainer::after {
    width: 275px;
    height: 275px;
  }

  .imgContainer::before {
    width: 260px;
    height: 260px;
  }
}

@media screen and (max-width: 380px) {
  .imgContainer {
    width: 240px;
    height: 240px;
  }

  .imgContainer::after {
    width: 265px;
    height: 265px;
  }

  .imgContainer::before {
    width: 250px;
    height: 250px;
  }
}
