.container {
  background-color: var(--blue);
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5rem;
}

.top {
  flex: 1;
}

.sectionIntroContainer {
  width: fit-content;
  margin-bottom: 2rem;
}

.heading {
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: var(--tan);
}

.copy {
  line-height: 150%;
  font-weight: 700;
  width: 90%;
  color: var(--tan);
  opacity: 0.7;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 3rem;
  flex: 1;
}

.qaContainer {
  padding: 3rem 0rem;
  border-bottom: 1px solid gray;
  width: 100%;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease-in;
}

.answerContainer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.answerContainer.show {
  max-height: 350px;
}

.headingArrowContainer {
  display: grid;
  grid-template-columns: 0.6fr 5fr;
  gap: 2rem;
}

.icon {
  color: var(--green2);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.iconFlip {
  color: var(--green2);
  transform: rotate(135deg);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.question {
  font-family: var(--dashingReg);
  color: var(--tan);
  letter-spacing: 1px;
  font-size: 3rem;
  line-height: 120%;
  hyphens: auto;
}

.answerbox {
  display: grid;
  grid-template-columns: 0.6fr 5fr;
  gap: 2rem;
}

.answer {
  color: var(--green2);
  font-weight: 500;
  margin-top: 1.5rem;
  hyphens: auto;
}

.btnContainer {
  display: grid;
  width: fit-content;
  margin-left: auto;
  margin-top: 3rem;
}

@media screen and (max-width: 968px) {
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content {
    flex-direction: column;
    gap: 3rem;
  }

  .heading {
    text-align: center;
  }

  .copy {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .bottom {
    gap: 2rem;
  }
}
