.bgColor {
  background-color: var(--green);
}

.text {
  font-size: 8rem;
  letter-spacing: 3px;
  width: 85%;
}

.revealText {
  color: var(--green);
  filter: drop-shadow(0 0 0.06rem rgb(20, 30, 70));
  line-height: 110%;
  text-transform: uppercase;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 5rem;
}

.me {
  color: var(--tan);
}

@media screen and (max-width: 968px) {
  .text {
    width: 100%;
  }

  .bottom {
    justify-content: center;
  }
}
