.container {
  background-color: var(--tan);
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.heading {
  color: var(--blue);
  line-height: 110%;
}

.heading span {
  color: var(--blue);
  white-space: nowrap;
  font-size: 7rem;
  line-height: 110%;
  text-transform: uppercase;
}

.copy {
  font-size: 2rem;
  color: var(--blue);
  width: 70%;
  margin-bottom: 1rem;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
}

.btnContainer p {
  color: var(--blue);
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.headingii {
  position: absolute;
  bottom: 0;
  font-size: 3rem;
  color: var(--blue);
}

.box {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 7rem;
  border: 1px solid var(--blue);
  border-left: none;
  border-right: none;
}

.detail {
  text-align: center;
  border-right: 1px solid var(--blue);
  padding: 2rem 0rem;
  color: var(--blue);
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  transition: all 0.1s ease-in;
}

.detail:hover {
  background-color: var(--green2);
  color: var(--black);
}

.detail:nth-child(3) {
  border-right: none;
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 8rem;
  }

  .left {
    align-items: center;
    justify-content: center;
  }

  .heading,
  .copy {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .copy {
    width: 80%;
  }

  .btnContainer {
    justify-content: center;
    width: 100%;
  }

  .box {
    margin-top: 15rem;
    margin-bottom: 15rem;
  }
}

@media screen and (max-width: 768px) {
  .content {
    grid-gap: 7rem;
  }
}

@media screen and (max-width: 568px) {
  .left {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .heading,
  .copy {
    width: 100%;
    text-align: left;
  }

  .br {
    display: none;
  }

  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .bottom {
    grid-template-columns: repeat(1, 1fr);
    border: 1px solid var(--blue);
    border-radius: 10px;
  }

  .detail {
    border-bottom: 1px solid var(--blue);
    border-right: none;
  }

  .detail:nth-child(3) {
    border-bottom: none;
  }
}
