.container {
  background-color: var(--green);
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
}

.heading {
  color: var(--tan);
}

.copy {
  font-size: 2.4rem;
  color: var(--tan);
  width: 60%;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
}

.left {
  width: 100%;
  flex: 2;
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5rem;
  border: 1px solid var(--tan);
  border-left: none;
  border-right: none;
}

.detail {
  text-align: center;
  border-right: 1px solid var(--tan);
  padding: 2rem 0rem;
  color: var(--tan);
  text-transform: uppercase;
  font-size: 1.8rem;
  font-family: var(--messinaCondensed);
  transition: all 0.1s ease-in;
}

.detail:hover {
  background-color: var(--green2);
  color: var(--black);
}

.detail:nth-child(3) {
  border-right: none;
}

@media screen and (max-width: 1068px) {
  .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .heading,
  .copy {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .copy {
    width: 80%;
  }

  .btnContainer {
    justify-content: center;
    width: 100%;
  }

  .box {
    margin-top: 15rem;
    margin-bottom: 15rem;
  }
}

@media screen and (max-width: 568px) {
  .content {
    padding-top: 8rem;
  }

  .heading,
  .copy {
    width: 100%;
    text-align: left;
  }

  .br {
    display: none;
  }

  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .bottom {
    grid-template-columns: repeat(1, 1fr);
    border: 1px solid var(--tan);
    border-radius: 10px;
  }

  .detail {
    border-bottom: 1px solid var(--tan);
    border-right: none;
  }

  .detail:nth-child(3) {
    /* border-right: 1px solid var(--tan); */
    border-bottom: none;
  }
}
