:root {
  --green: #031403;
  --green2: #e9ff92;
  --gray: #f4f4f6;
  --black: #2a2a2a;
  --black2: #383838;
  --white: #ffffff;
  --white2: #b7b5b5;
  --border: #d4d4d4;
  --border2: #c3c3c3;
  --border3: #aeaeae;
  --border4: #686868;
  --text: #989696;
  --text2: #323131;
  --text3: #434343;
  --text4: #6a6a6a;
  --tan: #f1f1e9;
  --tan2: #d3d3b5;
  --tan3: #f7f1cf;
  --shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 150%;
  font-family: var(--messina);
  overscroll-behavior: none;
  scroll-behavior: smooth;
  scroll-margin-top: 20px;
  -webkit-tap-highlight-color: transparent;
}

section {
  background-color: var(--green);
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: var(--messinaCondensed);
  color: var(--black);
  hyphens: auto;
}

h1 {
  font-size: 10rem;
  line-height: 90%;

  text-transform: uppercase;
  letter-spacing: -1px;
}

h2 {
  font-size: 4.6rem;
  line-height: 120%;
}

h3 {
  font-size: 2.6rem;
  line-height: 130%;
  font-weight: 600;
}

h4 {
  font-size: 3.1rem;
}

h5 {
  font-size: 2.5rem;
}

h6 {
  font-size: 2rem;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

p,
input,
textarea {
  font-weight: 400;
  hyphens: auto;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--text3);
}

input:focus {
  outline: none;
}

.blog {
  font-size: 1.6rem;
}

/* ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--secondary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

::selection {
  background: var(--secondary);
}
::-moz-selection {
  background: var(--secondary);
} */

@media screen and (max-width: 768px) {
  html {
    font-size: 55%;
  }

  /* p {
    font-size: 113.7%;
  } */
}

@media screen and (max-width: 568px) {
  html {
    font-size: 50%;
  }

  p,
  label {
    font-size: 110%;
  }
}

/* .toastFont {
} */

/* Only use in production */
@media screen and (max-width: 480px) {
  h1,
  h2 {
    letter-spacing: -0.1rem;
  }
}
