.container {
  background-color: var(--tan);
  padding-top: 7rem;
}

.reqContainer {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  margin-bottom: 15rem;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5rem;
}

.left,
.right {
  width: 100%;
  flex: 1;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.heading {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--blue);
  letter-spacing: 3px;
  /* text-transform: uppercase; */
  line-height: 100%;
}

.heading span {
  white-space: nowrap;
  line-height: 100%;
  color: var(--blue);
}

.copy {
  color: var(--blue);
  opacity: 0.7;
  width: 70%;
  line-height: 140%;
  font-weight: 700;
}

.btnContainer {
  margin-top: 3rem;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.mapContainer {
  width: 100%;
}

.box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  border-bottom: 1px solid var(--black);
  padding: 2rem 0rem;
}

.heading2 {
  font-size: 2.4rem;
  border-bottom: 1px solid var(--blue);
  width: 100%;
  padding-bottom: 2rem;
  color: var(--blue);
  letter-spacing: 0.5px;
}

.valueHeading {
  font-size: 1.8rem;
  flex: 1;
  text-transform: uppercase;
  color: var(--blue);
}

.value {
  width: 100%;
  color: var(--blue);
  flex: 1.5;
}

.imgContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
  object-fit: contain;
}

@media screen and (max-width: 968px) {
  .content {
    flex-direction: column;
  }

  .copy {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .reqContainer {
    width: 90%;
  }
}

@media screen and (max-width: 568px) {
  .btnContainer {
    display: grid;
    width: 100%;
  }

  .box {
    flex-direction: column;
  }
}
