.container {
  background-color: var(--tan);
}

.reqContainer {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  margin-bottom: 15rem;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5rem;
}

.left,
.right {
  width: 100%;
  flex: 1;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.heading {
  margin-bottom: 2rem;
  color: var(--green);
}

.copy {
  color: var(--green);
  width: 90%;
}

.btnContainer {
  margin-top: 3rem;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.mapContainer {
  width: 100%;
}

.box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  border-bottom: 1px solid var(--black);
  padding: 2rem 0rem;
}

.heading2 {
  font-size: 2.4rem;
  border-bottom: 1px solid var(--black);
  width: 100%;
  padding-bottom: 2rem;
  color: var(--black);
}

.valueHeading {
  font-size: 1.6rem;
  flex: 1;
}

.value {
  font-size: 1.8rem;
  width: 100%;
  color: var(--black);
  flex: 2;
}

@media screen and (max-width: 968px) {
  .content {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .reqContainer {
    width: 90%;
  }
}

@media screen and (max-width: 568px) {
  .btnContainer {
    display: grid;
    width: 100%;
  }

  .box {
    flex-direction: column;
  }
}
