.container {
  background-color: var(--black);
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.layoutWrapper {
  z-index: 1000;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding: 3rem;
  padding-bottom: 0rem;
}

.contentPadding {
  padding: 5rem;
}

.content {
  border-radius: 10px;
  padding: 5rem;
  padding-bottom: 3rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.circleImageContainer {
  margin-top: 5rem;
  margin-bottom: 17rem;
}

.bottom {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5rem;
}

.left,
.right {
  flex: 1;
  width: 100%;
}

.heading {
  font-size: 7rem;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--tan);
  margin-bottom: 1rem;
  font-size: 8.5rem;
  font-family: var(--staatliches);
}

.headingii {
  font-size: 2.6rem;
  font-weight: 500;
  width: 70%;
  hyphens: none;
  color: var(--tan);
}

.topText {
  color: var(--tan);
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: 500;
  width: 80%;
  display: block;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}

@media screen and (max-width: 1200px) {
  .headingii,
  .topText {
    width: 100%;
  }
}

@media screen and (max-width: 968px) {
  .content {
    padding: 3rem;
    padding-top: 4rem;
  }

  .bottom {
    flex-direction: column;
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .heading,
  .headingii,
  .topText {
    text-align: center;
  }

  .topText {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .topText {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .layoutWrapper {
    padding-right: 5px;
    padding-left: 5px;
  }

  .content {
    padding: 2rem;
    padding-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .heading {
    font-size: 6rem;
  }

  .btnContainer {
    flex-direction: column;
  }
}
